/* Tambahkan gaya untuk tautan aktif */
nav ul li a.active {
    background-color: #FAB95B;
    color: #fff;
    border-radius: 5px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style navigation menu */
nav {
    background-color:#FAB95B;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #FAB95B;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}
/* CSS Untuk Menempatkan Layanan di Tengah dan Memberikan Tampilan Kotak */
.centered-services {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  
}

.centered-services h2 {
    font-size: 24px;
}

.centered-services p {
    font-size: 16px;
    color: #333;
}

/* Contoh gaya untuk tautan layanan (Services) */
.centered-services a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color:  #FAB95B;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.centered-services a:hover {
    background-color: #0056b3;
}

/* Style header */
header {
    background-color: #FAB95B;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style login container */
/* CSS Untuk Kontainer Formulir Nomor Resi */
.resi-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resi-form {
    width: 70%;
    text-align: center;
    padding: 20px;
    
}

#tracking-form {
    margin-top: 20px;
    display: center;
    
}

#tracking-number {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* CSS untuk Jumbotron */
.jumbotron {
    background-image:url(https://th.bing.com/th/id/OIP.uYTZmXUvKuQFiMMD_1f1iQAAAA?pid=ImgDet&rs=1); /* Ganti dengan URL gambar latar belakang jumbotron Anda */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 225px 0; /* Atur ruang di atas dan bawah */
}

.jumbotron h1 {
    font-size: 36px;
}

.jumbotron p {
    font-size: 18px;
    margin-bottom: 20px;
}

.jumbotron a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 500px;
}

.jumbotron a:hover {
    background-color: #0056b3;
}

.photo-container {
    display: flex; /* Menggunakan flexbox */
    flex-wrap: wrap; /* Baris baru jika elemen tidak muat dalam lebar */
    justify-content: center; /* Elemen sekitar secara horizontal */
    align-items: stretch;
    padding: 10px;
    background-color: #fff;
    /* min-height: 100vh; */
    gap: 20px; /* Jarak antara elemen-foto */
    /* CSS untuk Container Foto */

}


/* CSS untuk Setiap Foto */
.photo {
    width: 250px; /* Lebar setiap foto */
    background-color: #13263C; /* Warna latar belakang foto container */
    padding: 50px; /* Ruang di sekitar setiap foto */
    border-radius: 10px; /* Sudut-sudut melengkung pada setiap foto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Efek bayangan pada setiap foto */
    text-align: center; /* Teks dalam setiap foto menjadi tengah */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.photo img {
    max-width: 100%; /* Membuat gambar dalam foto tidak melebihi lebar foto */
    height: auto; /* Mengatur tinggi gambar secara otomatis */
    border-radius: 5px; /* Sudut-sudut melengkung pada gambar */
    align-items: center;

}

.photo p {
    margin-top: 10px; /* Jarak antara gambar dan teks caption */
    font-size: 16px;
}
/* CSS untuk Container Foto */




