@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-content: flex-start;
    background: url(../assets/P.png);
    background-size:cover;
}

.banner .content{
    max-width: 900px;
    margin: 0 8%;
}
.banner .hasTag{
    font-size: 3.125rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
    margin-top: 30%;
}
.banner .content h2{
    font-size: 3em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #FAB95B;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #FAB95B;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    color: #FAB95B;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #fff;
}
header .logo span{
    color: #FAB95B;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style : none;
    margin-left: 30px;
}
header.sticky .navigation li a{
    color: #fff;
}
header .navigation li a{
    text-decoration: none;
    color: #FAB95B;
    font-weight: 400;
}
header .navigation li a:hover{
    color:#fff
}

.resi-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resi-form {
    width: 70%;
    text-align: center;
    padding: 20px;
    
}

#tracking-form {
    margin-top: 20px;
    display: center;
    
}

#tracking-number {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    background-color: #fff;
    gap: 20px;
}

.centered-services {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.photo {
    width: 250px;
    background-color: #FAB95B;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;

}

.photo p {
    margin-top: 10px;
    font-size: 16px;
}

footer {
    background-color: #FAB95B;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 25px 0;
}

/* Tambahkan gaya untuk tautan aktif
nav ul li a.active {
    background-color: #FAB95B;
    color: #fff;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color:#FAB95B;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #FAB95B;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}
.centered-services {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  
}

.centered-services h2 {
    font-size: 24px;
}

.centered-services p {
    font-size: 16px;
    color: #333;
}

.centered-services a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color:  #FAB95B;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.centered-services a:hover {
    background-color: #fd9b11;
}

header {
    background-color: #FAB95B;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.resi-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resi-form {
    width: 70%;
    text-align: center;
    padding: 20px;
    
}

#tracking-form {
    margin-top: 20px;
    display: center;
    
}

#tracking-number {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #fd9b11;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #fd9b11;
}

.jumbotron {
    background-image: url('../assets/jumbotron.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 25% 0; 
}

.jumbotron h1 {
    font-size: 36px; 
}

.jumbotron p {
    font-size: 18px; 
    margin-top: 20px; 
}

.jumbotron a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    font-size: 16px; 
    margin-top: 20px; 
}

.jumbotron a:hover {
    background-color: #0056b3;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    background-color: #fff;

    gap: 20px;


}


.photo {
    width: 250px;
    background-color: #FAB95B;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;

}

.photo p {
    margin-top: 10px;
    font-size: 16px;
}



 */

 
